<!--<div class="alert alert-danger" [hidden]="!error">-->
<!--  There was a problem logging in. Please try again.-->
<!--</div>-->
<span *ngIf="showMessageCheckLoginOrPassword">Проверьте корректность Login & Password</span>
<form role="form" (submit)="clickHandler()" >
  <mat-form-field appearance="fill">
    <mat-label>Login</mat-label>
    <input matInput type="text" id="username" name="username" [(ngModel)]="credentials.login">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" id="password" name="password" [(ngModel)]="credentials.password">
  </mat-form-field>
<!--  <mat-slide-toggle [(ngModel)]="needRegister">Я первый раз, зарегайте меня плиз))!</mat-slide-toggle>-->
  <button mat-flat-button color="primary">Log In</button>
</form>
